$baseFontSize: 16;
@import 'typebase';

@import '//fonts.googleapis.com/css?family=Raleway:400,700|Inconsolata:400,700)';

$gray-base:     #000 !default;
$gray-darker:   lighten($gray-base, 13.5%) !default; // #222
$gray-dark:     lighten($gray-base, 20%) !default;   // #333
$gray:          lighten($gray-base, 33.5%) !default; // #555
$gray-light:    lighten($gray-base, 70%) !default;   // #999
$gray-lighter:   lighten($gray-base, 93.5%) !default; // #eee

$brand-darker:   #1C1D21;
$brand-dark:     #31353D;
$brand-main:     #445878;
$brand-light:    #92CDCF;
$brand-lighter:  #EEEFF7;

html {
	height: 100%;
}

body {
	min-height: 100%;
}

html, body {
	font-family: 'Raleway', sans-serif;
	background: $gray-lighter;
	color: $gray-base;
	margin: 0;
	padding: 0;
}

code {
	font-family: 'Inconsolata', ;
}

a {
	color: $brand-dark;
	text-decoration: none;
	&:hover {
		color: $brand-main;
	}
}

nav {
	background: $brand-darker;
	color: $brand-lighter;
	padding: 1rem 0;

	h1, h2 {
		font-size: 2rem;
		margin: 0.25rem 0 1rem 0;
		line-height: 1rem;
		width: 100%;
		text-align: center;
	}

	h1 {
		a {
			text-decoration: none;
			color: $brand-lighter;
			&:hover {
				color: $brand-lighter;
			}
		}
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			a {
				padding: 0.25rem 1rem;
				display: block;
				color: $brand-light;
				text-decoration: none;

				&.active {
					background: $brand-main;
					color: $brand-lighter;
				}

				&:hover {
					color: $brand-main;
					background: $brand-lighter;
				}
			}
		}
	}

	>ul {
		padding: 0;
	}
}

main {
	header {
		margin-top: 1rem;

		h1, h2 {
			display: inline;
		}
	}
	padding: 0 1rem;

	ul {
		list-style-type: none;
		padding: 0;
		border: 1px solid $brand-darker;
		background: white;

		span {
			font-family: "Inconsolata",;
		}
		.date {
			&:before {
				content: '[';
			}
			&:after {
				content: ']';
			}
			margin: 0 0.5rem;
		}
		.severity {
			margin: 0 0.5rem 0 0;

			.error {
				color: red;
				&:after {
					content: 'ERROR:';
				}
			}
			.warn {
				color: $brand-main;
				text-transform: uppercase;
				&:after {
					content: 'WARN:';
				}
			}
			.info {
				margin: 0 -0.5rem 0 0;
			}
			.debug {
				color: $brand-light;
				&:after {
					content: 'debug:';
				}
			}
			.trace {
				color: $brand-darker;
				&:after {
					content: 'trace:';
				}
			}
		}
		.data {
			margin: 0 0 0 0.5rem;
		}
	}
}

footer {
	text-align: right;
	font-size: $scale / 2 * 1rem;
	a {
		color: $brand-main;
		&:hover {
			color: $brand-light;
		}
	}
}

@media (min-width: 48em) {
	// make it look as through the nav goes all the way down
	$nav-size: 16rem;
	body {
	  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, $brand-darker), color-stop($nav-size, $brand-darker), color-stop($nav-size, $gray-lighter), color-stop(100%, $gray-lighter));
	  background-image: -webkit-linear-gradient(left, $brand-darker, $brand-darker $nav-size, $gray-lighter $nav-size, $gray-lighter 100%);
	  background-image: -moz-linear-gradient(left, $brand-darker, $brand-darker $nav-size, $gray-lighter $nav-size, $gray-lighter 100%);
	  background-image: -ms-linear-gradient(left, $brand-darker, $brand-darker $nav-size, $gray-lighter $nav-size, $gray-lighter 100%);
	  background-image: -o-linear-gradient(left, $brand-darker, $brand-darker $nav-size, $gray-lighter $nav-size, $gray-lighter 100);
	}

	nav {
		background: none;
		height: 100%;
		width: $nav-size;
		float: left;
	}

	header {
		margin-top: 0;
		p {
			margin: 0;
		}
	}

	main {
		margin-left: $nav-size;
		padding: 1rem 1rem 0 2rem;
		max-width: 960px;
	}

	footer {
		top: 0;
		right: 1rem;
		height: 1rem;
		padding: 0 0.5rem;
		transform: rotate(-90deg);
		transform-origin: 100% 0;
		position: absolute;
		line-height: 1rem;
		text-align: center;
	}
}